body {
  background-color: rgba(164, 97, 8, 1);
}
.main {
  height: 100vh;
  background: url('../../images/Avett_Bros.jpg');
  overflow: scroll;
  background-repeat: no-repeat;
  background-size: cover;
}
section {
  display: inline-flex;
  font-size: 16px;
  opacity: 0.99;
  color: rgb(55, 57, 18);
}
a {
  color: rgb(60, 94, 238);
}
tr {
  background-color: rgba(185, 222, 149, 0.51);
}
iframe {
  width: 100%;
  height: 20%;
}
#showTracker {
  display:none;
}
}
#show-info {
  z-index: 1;
  opacity: 0.99;
  position: absolute;
  color: white;
  /*padding-top: 10%;*/
}
#background-image {
  width: 95%;
  margin: 0 auto;
  opacity: 0.5;
  z-index: 0;
  position: absolute;
}
.container {
  display: static;
  width: 95%;
  margin: 0 auto;
}
.navbar-header {
  padding-top: 0.5%;
}
.navbar-form {
  padding-top: 1%;
}
